<% unless request.xhr? %><table id="links_list"><% end %>
  <thead>
    <tr>
      <th>Title</th>
      <th>Short URL</th>
      <th>Destination</th>
      <th style="width: 7em">Start Date</th>
      <th style="width: 7em">End Date</th>
      <th style="width: 5px;"></th>
    </tr>
  </thead>
  <tbody>
    <% @search.each do |link| %>
    <tr>
      <td>
        <% if authorized?("Links", "update") %><a href="/admin/links/<%= link.id %>"><%= link.title %></a>
        <% else %><%= link.title %><% end %>
      </td>
      <td>
        <% short_url = Cleat::UI::Link.new(link) %>
        <% if link.active? %><a href="<%= short_url %>"><% end %>
        <%= short_url %>
        <% if link.active? %></a><% end %>
      </td>
      <td><a href="<%= destination = link.destination %>"><%= destination %></a></td>
      <td style="width: 7em"><%= link.start_date %></td>
      <td style="width: 7em"><%= link.end_date %></td>
    </tr>
    <% end %>
  </tbody>

<% unless request.xhr? %></table><% end %>
  
<% if request.xhr? %>
  <script type="text/javascript" charset="utf-8">
    $(".page_count").html("<%= UI::Pagination.new(self, @search.page_size, @search.total_count, 1) %>")
  </script>
<% end %>